<img src="assets/img/header.png" draggable="false" style="width: 100vw;" alt="" srcset="">
<div class="login">
  <div style="width: 100%; display: flex; flex-direction: row; justify-content: center;">
    <div class="row">
      <div class="col p-5" style="background-color: #fff; border: 1px solid #222; border-radius: 20px;">
        <div class="row">
          <div class="col">
            <img src="assets/img/logo.png" alt="Bank Nizwa Logo">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="tui-text_h1 mt-5">
              Welcome to
              <br>
              Bank Nizwa
            </p>
          </div>
        </div>
        <div class="row  mt-4 px-2">
          <div class="col">
            <p class="tui-text_body-m">Please Select: </p>
          </div>
        </div>
        <div style="width: 500px; margin: 0px !important">
          <div class="row" *ngIf="!role" [@collapseOnLeave] [@expandOnEnter]>
            <div class="col">
              <div tuiGroup [collapsed]="true">
                <tui-radio-block size="l" contentAlign="right" [formControl]="type" (ngModelChange)="onChange($event)"
                  item="existing">
                  <div class="content">
                    <div class=""><strong>Exisiting Customer</strong></div>
                    <!-- <div>Exisiting Customer can fetch its information and view submitted forms.</div> -->
                  </div>
                </tui-radio-block>
                <tui-radio-block size="l" contentAlign="right" [formControl]="type" (ngModelChange)="onChange($event)"
                  item="new">
                  <div class="content">
                    <div class=""><strong>New Customer</strong></div>
                    <!-- <div>New Customer can view limited forms and need to Provide its information first.</div> -->
                  </div>
                </tui-radio-block>
              </div>
            </div>
          </div>
        </div>
        <div class="row" class="mt-3" *ngIf="role ==='existing'" [@collapseOnLeave] [@expandOnEnter]>
          <div class="col-10">
            <tui-input-number [formControl]="civilID">
              Your Civil ID*
            </tui-input-number>
            <tui-error formControlName="civilID" [error]="[] | tuiFieldError | async"></tui-error>
          </div>
          <br>
          <button tuiButton appearance="secondary-destructive" size="m" style="margin-right: 20px;"
            (click)="onReset()">back</button>
          <button tuiButton appearance="secondary" size="m" (click)="onExisting()">Continue</button>
        </div>
        <div style="width: 500px; margin: 0px !important" class="mt-3" *ngIf="role ==='new'" [@collapseOnLeave]
          [@expandOnEnter]>
          <form [formGroup]="newController">
            <div class="row">
              <div class="col-6">
                <tui-input formControlName="branchNo">
                  Branch No*
                </tui-input>
                <tui-error formControlName="branchNo" [error]="[] | tuiFieldError | async"></tui-error>
              </div>
              <div class="col-6">
                <tui-input formControlName="branchName">
                  Branch Name
                </tui-input>
                <tui-error formControlName="branchName" [error]="[] | tuiFieldError | async"></tui-error>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-6">
                <tui-input formControlName="accountName">
                  Customer Name*
                </tui-input>
                <tui-error formControlName="accountName" [error]="[] | tuiFieldError | async"></tui-error>
              </div>
              <div class="col-6">
                <tui-input formControlName="accountNo">
                  Account Number*
                </tui-input>
                <tui-error formControlName="accountNo" [error]="[] | tuiFieldError | async"></tui-error>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-6">
                <tui-input formControlName="email">
                  Email*
                </tui-input>
                <tui-error formControlName="email" [error]="[] | tuiFieldError | async"></tui-error>
              </div>
              <div class="col-6">
                <tui-input formControlName="mobileNo">
                  Contact Number*
                </tui-input>
                <tui-error formControlName="mobileNo" [error]="[] | tuiFieldError | async"></tui-error>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-6">
                <tui-input-number formControlName="civilID">
                  Your Civil ID*
                </tui-input-number>
                <tui-error formControlName="civilID" [error]="[] | tuiFieldError | async"></tui-error>
              </div>
            </div>
            <br>
            <button tuiButton appearance="secondary-destructive" type="button" size="m" style="margin-right: 20px;"
              (click)="onReset()">back</button>
            <button tuiButton appearance="secondary" (click)="onNew()" size="m">Continue</button>
          </form>
        </div>
        <div class="row mt-5">
          <div class="col">
            <span class="tui-text_body-m">
              For futher information,
              <a tuiLink routerLink="/components/link">
                contact us
              </a>
            </span>
            <br>
            <span class="tui-text_body-s">
              All rights reserved.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<img src="assets/img/footer.png" draggable="false" style="width: 100vw;" alt="" srcset="">
