<div class="login">
  <div style="width: 100%; display: flex; flex-direction: row; justify-content: center;">
    <div class="row">
      <div class="col p-5" style="background-color: #fff; border: 1px solid #222; border-radius: 20px;">
        <div class="row">
          <div class="col">
            <img src="assets/img/logo.png" alt="Bank Nizwa Logo">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="tui-text_h1 mt-5">Welcome Back, <br> <span class="tui-text_h4">Internal Portal on bank Nizwa</span></p>
          </div>
        </div>
        <div class="row  mt-4 px-2">
          <div class="col">
            <p class="tui-text_body-m">Enter the information, you were provided</p>
          </div>
        </div>
        <form [formGroup]="formController" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col">
              <tui-input formControlName="email">
                Email
              </tui-input>
              <tui-error formControlName="email" [error]="[] | tuiFieldError | async"></tui-error>
            </div>
          </div>
          <div class="row my-4">
            <div class="col">
              <tui-input-password formControlName="password">
                Password
              </tui-input-password>
              <tui-error formControlName="password" [error]="[] | tuiFieldError | async"></tui-error>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <button tuiButton appearance="primary" size="m" [disabled]="formController.invalid">Login</button>
            </div>
          </div>
        </form>
        <div class="row mt-5">
          <div class="col">
            <span class="tui-text_body-m">
              For futher information,
              <a tuiLink routerLink="/components/link">
                contact us
              </a>
            </span>
            <br>
            <span class="tui-text_body-s">
              All rights reserved.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
