<div class="view py-5">
  <div class="panel">
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="tui-text_h1">
            Application
          </h1>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-3">
          <div class="details p-4 mb-3">
            <div class="d-flex justify-content-between">
              <div class="col-1">
                <p class="tui-text_h6" style="letter-spacing: 1.5px;">Information</p>
              </div>
            </div>
            <p class="tui-text_body-m px-2">
              <tui-tag status="primary" class="tag m-1" [hoverable]="true" value="Branch No. 9"></tui-tag>
              <tui-tag status="primary" class="tag m-1" [hoverable]="true" [value]="'UUID: ' + UUID"></tui-tag>
              <tui-tag status="primary" class="tag m-1" [hoverable]="true" value="Remittance"></tui-tag>
            </p>
            <br>
            <div class="d-flex justify-content-between">
              <div class="col-1">
                <p class="tui-text_h6" style="letter-spacing: 1.5px;">Flow</p>
              </div>
            </div>
            <ul class="tui-list" *ngIf="application?.step?.length > 0">
              <li class="tui-list__item tui-text_body-s" *ngFor="let item of application?.step; let i = index"
                [value]="i">{{item}}</li>
            </ul>
          </div>
        </div>
        <div class="col-9">
          <div class="details p-4 mb-5">
            <div class="d-flex justify-content-between">
              <div class="col-1">
                <p class="tui-text_h6" style="letter-spacing: 1.5px;">Remitter Information</p>
              </div>
              <div *ngIf="application?.isNew">
                <tui-tag status="custom" class="tag-new" [hoverable]="true" value="NEW" size="s"></tui-tag>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-3">
                <p class="tui-text_body-m heading m-1">Date</p>
                <p class="tui-text_body-xs value mx-1">{{application?.date | date: 'dd/MM/yyyy'}}</p>
              </div>
              <div class="col-3">
                <p class="tui-text_body-m heading m-1">Branch No.</p>
                <p class="tui-text_body-xs value mx-1">{{application?.branch?.no}}</p>
              </div>
              <div class="col-3">
                <p class="tui-text_body-m heading m-1">Branch Name</p>
                <p class="tui-text_body-xs value mx-1">{{application?.branch?.name}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <p class="tui-text_body-m heading m-1">Account Title</p>
                <p class="tui-text_body-xs value mx-1">{{application?.remitter?.title}}</p>
              </div>
              <div class="col-3">
                <p class="tui-text_body-m heading m-1">Account No.</p>
                <p class="tui-text_body-xs value mx-1">{{application?.remitter?.account}}</p>
              </div>
              <div class="col-3">
                <p class="tui-text_body-m heading m-1">Telephone</p>
                <p class="tui-text_body-xs value mx-1">{{application?.remitter?.telephone}}</p>
              </div>
              <div class="col-3">
                <p class="tui-text_body-m heading m-1">Mobile</p>
                <p class="tui-text_body-xs value mx-1">{{application?.remitter?.mobile}}</p>
              </div>
            </div>
            <hr>
            <br>
            <div class="d-flex justify-content-between">
              <div class="col-1">
                <p class="tui-text_h6" style="letter-spacing: 1.5px;">Beneficiary Information</p>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <p class="tui-text_body-m heading m-1">Name</p>
                <p class="tui-text_body-xs value mx-1">{{application?.beneficiary?.name}}</p>
              </div>
              <div class="col-3">
                <p class="tui-text_body-m heading m-1">Date Of Birth</p>
                <p class="tui-text_body-xs value mx-1">{{application?.beneficiary?.dob | date: 'dd/MM/yyyy'}}</p>
              </div>
              <div class="col-3">
                <p class="tui-text_body-m heading m-1">Account Title</p>
                <p class="tui-text_body-xs value mx-1">{{application?.beneficiary?.title}}</p>
              </div>
              <div class="col-3">
                <p class="tui-text_body-m heading m-1">IBAN</p>
                <p class="tui-text_body-xs value mx-1">{{application?.beneficiary?.iban}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="tui-text_body-m heading m-1">Address</p>
                <p class="tui-text_body-xs value mx-1">{{application?.beneficiary?.address}}</p>
              </div>
            </div>
            <hr>
            <br>
            <div class="d-flex justify-content-between">
              <div class="col-1">
                <p class="tui-text_h6" style="letter-spacing: 1.5px;">Beneficiary Bank</p>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <p class="tui-text_body-m heading m-1">Name</p>
                <p class="tui-text_body-xs value mx-1">{{application?.beneficiary?.bank?.name}}</p>
              </div>
              <div class="col-3">
                <p class="tui-text_body-m heading m-1">Code Type</p>
                <p class="tui-text_body-xs value mx-1">{{application?.beneficiary?.bank?.codeType}}</p>
              </div>
              <div class="col-3">
                <p class="tui-text_body-m heading m-1">Code</p>
                <p class="tui-text_body-xs value mx-1">{{application?.beneficiary?.bank?.code}}</p>
              </div>
              <div class="col-3">
                <p class="tui-text_body-m heading m-1">Swift Code</p>
                <p class="tui-text_body-xs value mx-1">{{application?.beneficiary?.bank?.swift}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="tui-text_body-m heading m-1">Address</p>
                <p class="tui-text_body-xs value mx-1">{{application?.beneficiary?.bank?.address}}</p>
              </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
              <div class="col-1">
                <p class="tui-text_h6" style="letter-spacing: 1.5px;">Other Details</p>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <p class="tui-text_body-m heading m-1">Amount</p>
                <p class="tui-text_body-xs value mx-1">{{application?.amount}}</p>
              </div>
              <div class="col-3">
                <p class="tui-text_body-m heading m-1">Amount In Figure</p>
                <p class="tui-text_body-xs value mx-1">{{application?.figure}}</p>
              </div>
              <div class="col-3">
                <p class="tui-text_body-m heading m-1">Currency</p>
                <p class="tui-text_body-xs value mx-1"><tui-money [currency]="null"
                    [value]="+application?.currency"></tui-money></p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="tui-text_body-m heading m-1">Purpose</p>
                <p class="tui-text_body-xs value mx-1">{{application?.Purpose}}</p>
              </div>
              <div class="col-6">
                <p class="tui-text_body-m heading m-1">Details</p>
                <p class="tui-text_body-xs value mx-1">{{application?.detail}}</p>
              </div>
            </div>
          </div>
          <div class="details p-4 mb-5">
            <div class="d-flex justify-content-between">
              <div class="col-2">
                <p class="tui-text_h6" style="letter-spacing: 1.5px;">Signature</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-6">
                <img class="signature" src="assets/signature.png">
                <p class="mt-2">From application</p>
              </div>
              <div class="col-6">
                <img class="signature" src="assets/signature.png">
                <p class="mt-2">From Bank Core</p>
              </div>
            </div>
            <hr>
            <br>
            <div class="d-flex justify-content-between">
              <div class="col-2">
                <p class="tui-text_h6" style="letter-spacing: 1.5px;">Branch Use Only</p>
              </div>
            </div>
            <br>
            <form [formGroup]="branchController" (ngSubmit)="submittedByBranch()">
              <div class="row">
                <div class="col-4">
                  <tui-input formControlName="ReferenceNo" [readOnly]="true">
                    Reference Number
                  </tui-input>
                  <tui-error formControlName="ReferenceNo" [error]="[] | tuiFieldError | async"></tui-error>
                </div>
                <div class="col-4">
                  <tui-input formControlName="ChecksPerformedBy" [readOnly]="true">
                    Check Performed By
                  </tui-input>
                  <tui-error formControlName="ChecksPerformedBy" [error]="[] | tuiFieldError | async"></tui-error>
                </div>
                <div class="col-4">
                  <tui-input formControlName="StaffID" [readOnly]="true">
                    Staff ID
                  </tui-input>
                  <tui-error formControlName="StaffID" [error]="[] | tuiFieldError | async"></tui-error>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-4">
                  <tui-input-date tuiUnfinishedValidator="Finish filling the field" formControlName="Date"
                    [readOnly]="!!application.teller && user.role === 'checker'">
                    Choose a date
                  </tui-input-date>
                </div>
                <div class="col-4">
                  <tui-checkbox-block formControlName="SignatureVerified" contentAlign="left" size="l"
                    [readOnly]="!!application.teller && user.role === 'checker'">
                    <div class="inner inner_flex">
                      Signature Verified
                      <tui-tooltip direction="right"
                        content="Verify the signature attached with the application with signature from core bank."></tui-tooltip>
                    </div>
                  </tui-checkbox-block>
                </div>
              </div>
              <div class="row mt-5" *ngIf="user.role === 'teller'">
                <div class="col-2">
                  <button tuiButton appearance="secondary">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <div *ngIf="user.role === 'checker'" class="mb-5">
            <form [formGroup]="operateController">
              <div class="details p-4 mb-5">
                <div class="d-flex justify-content-between">
                  <div class="col-2">
                    <p class="tui-text_h6" style="letter-spacing: 1.5px;">Account Details</p>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-3">
                    <p class="tui-text_body-m heading m-1">Current Balance</p>
                    <p class="tui-text_body-xs value mx-1"><tui-money [currency]="null" [value]="10728.9"></tui-money>
                    </p>
                  </div>
                  <div class="col-3">
                    <p class="tui-text_body-m heading m-1">Account Tile</p>
                    <p class="tui-text_body-xs value mx-1">{{application?.remitter?.title}}</p>
                  </div>
                  <div class="col-3">
                    <p class="tui-text_body-m heading m-1">Account No.</p>
                    <p class="tui-text_body-xs value mx-1">{{application?.remitter?.account}}</p>
                  </div>
                </div>
              </div>
              <div class="details p-4 mb-5">
                <div class="d-flex justify-content-between">
                  <div class="col-2">
                    <p class="tui-text_h6" style="letter-spacing: 1.5px;">Operations Use Only</p>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-4">
                    <div tuiGroup class="group" [collapsed]="true">
                      <tui-radio-block formControlName="Method" class="control" contentAlign="right" size="l" item="ACH"
                        [hideRadio]="true">
                        ACH
                      </tui-radio-block>
                      <tui-radio-block formControlName="Method" class="control" contentAlign="right" size="l"
                        item="RTGS" [hideRadio]="true">
                        RTGS
                      </tui-radio-block>
                    </div>
                  </div>
                  <div class="col-6">
                    <tui-checkbox-block formControlName="BalanceVerified" contentAlign="left" nativeId="example3"
                      size="l">
                      <div class="inner inner_flex">
                        Balance Verified
                        <tui-tooltip direction="right"
                          content="Verify the signature attached with the application with signature from core bank."></tui-tooltip>
                      </div>
                    </tui-checkbox-block>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-4">
                    <tui-input formControlName="ProcessedBy" [readOnly]="true">
                      Processed By
                    </tui-input>
                    <tui-error formControlName="ProcessedBy" [error]="[] | tuiFieldError | async"></tui-error>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col-2">
                    <button tuiButton appearance="secondary" (click)="submittedByOperations()">Submit</button>
                  </div>
                  <div class="col-3">
                    <button tuiButton appearance="secondary-destructive" (click)="returnBank()">Send Bank</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="details p-4 mb-5">
            <div class="d-flex justify-content-between">
              <div class="col-2">
                <p class="tui-text_h6 heading" style="letter-spacing: 1.5px;">Comments</p>
              </div>
            </div>
            <br>
            <form [formGroup]="commentController" (ngSubmit)="comment()">
              <div>
                <div class="row">
                  <div class="col">
                    <tui-textarea formControlName="comment">
                      Drop your comment
                    </tui-textarea>
                    <tui-error formControlName="comment" [error]="[] | tuiFieldError | async"></tui-error>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <button tuiButton appearance="secondary" size="m">Post</button>
                  </div>
                </div>
              </div>
            </form>
            <hr>
            <div *ngIf="this.application?.comments?.length > 0">
              <div class="mb-4" *ngFor="let list of this.application?.comments.reverse()">
                <div class="row">
                  <div class="col-1">
                    <tui-avatar [text]="list.from" size="m" class="tui-space_top-1" [rounded]="true"></tui-avatar>
                  </div>
                  <div class="col-8 d-flex align-items-center">
                    <span class="tui-text_body-l">{{list.from}}</span>
                  </div>
                  <div class="col-3  d-flex align-items-center justify-content-end">
                    <span class="tui-text_body-m">{{ prepareCommentTime(list.date) }} ago</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-11 offset-1">
                    <span class="tui-text_body-m" style="color: var(--tui-text-03);">{{list.comment}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="this.application?.comments?.length == 0">
              <p class="tui-text_body-l">No comment yet...</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>
