<div class="form py-5" style="background-color: var(--tui-base-02); min-height: 100vh;">
  <div class="container">
    <div class="row pb-5">
      <div class="col">
        <p class="tui-text_h6 mb-3 mx-2" style="color: #FFCB05">
          Remittance
        </p>
        <p class="tui-text_h1">
          Finalize Application
        </p>
      </div>
    </div>
    <div class="p-5 mb-5" style="background-color: #fff; border-radius: 20px;">
      <form [formGroup]="searchController" (ngSubmit)="onSearch()">
        <div class="row">
          <div class="col-6">
            <tui-input tuiHintContent="Write a number" formControlName="UUID" class="tui-group__inherit-item">
              Search using Unique Identifier
              <input tuiTextfield placeholder="UUID" />
            </tui-input>
            <tui-error formControlName="UUID" [error]="[] | tuiFieldError | async"></tui-error>
          </div>
          <div class="col-6">
            <button tuiButton type="submit" [disabled]="searchController.invalid" appearance="primary" size="l">
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="p-5 mb-5" style="background-color: #fff; border-radius: 20px;" *ngIf="application">
      <br>
      <div class="row">
        <div class="col-3">
          <p class="tui-text_body-m heading m-1">Date</p>
          <p class="tui-text_body-xs value mx-1">{{application?.date | date: 'dd/MM/yyyy'}}</p>
        </div>
        <div class="col-3">
          <p class="tui-text_body-m heading m-1">Branch No.</p>
          <p class="tui-text_body-xs value mx-1">{{application?.branch?.no}}</p>
        </div>
        <div class="col-3">
          <p class="tui-text_body-m heading m-1">Branch Name</p>
          <p class="tui-text_body-xs value mx-1">{{application?.branch?.name}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p class="tui-text_body-m heading m-1">Account Title</p>
          <p class="tui-text_body-xs value mx-1">{{application?.remitter?.title}}</p>
        </div>
        <div class="col-3">
          <p class="tui-text_body-m heading m-1">Account No.</p>
          <p class="tui-text_body-xs value mx-1">{{application?.remitter?.account}}</p>
        </div>
        <div class="col-3">
          <p class="tui-text_body-m heading m-1">Email</p>
          <p class="tui-text_body-xs value mx-1">{{application?.remitter?.email}}</p>
        </div>
        <div class="col-3">
          <p class="tui-text_body-m heading m-1">Mobile</p>
          <p class="tui-text_body-xs value mx-1">{{application?.remitter?.mobile}}</p>
        </div>
      </div>
      <hr>
      <br>
      <div class="d-flex justify-content-between">
        <div class="col-1">
          <p class="tui-text_h6" style="letter-spacing: 1.5px;">Beneficiary Information</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p class="tui-text_body-m heading m-1">Name</p>
          <p class="tui-text_body-xs value mx-1">{{application?.beneficiary?.name}}</p>
        </div>
        <div class="col-3">
          <p class="tui-text_body-m heading m-1">Date Of Birth</p>
          <p class="tui-text_body-xs value mx-1">{{application?.beneficiary?.dob | date: 'dd/MM/yyyy'}}</p>
        </div>
        <div class="col-3">
          <p class="tui-text_body-m heading m-1">Account No</p>
          <p class="tui-text_body-xs value mx-1">{{application?.beneficiary?.account}}</p>
        </div>
        <div class="col-3">
          <p class="tui-text_body-m heading m-1">IBAN</p>
          <p class="tui-text_body-xs value mx-1">{{application?.beneficiary?.iban}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p class="tui-text_body-m heading m-1">Address</p>
          <p class="tui-text_body-xs value mx-1">{{application?.beneficiary?.address}}</p>
        </div>
      </div>
      <hr>
      <br>
      <div class="d-flex justify-content-between">
        <div class="col-1">
          <p class="tui-text_h6" style="letter-spacing: 1.5px;">Beneficiary Bank</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p class="tui-text_body-m heading m-1">Name</p>
          <p class="tui-text_body-xs value mx-1">{{application?.beneficiary?.bank?.name}}</p>
        </div>
        <div class="col-3">
          <p class="tui-text_body-m heading m-1">Code Type</p>
          <p class="tui-text_body-xs value mx-1">{{application?.beneficiary?.bank?.codeType}}</p>
        </div>
        <div class="col-3">
          <p class="tui-text_body-m heading m-1">Code</p>
          <p class="tui-text_body-xs value mx-1">{{application?.beneficiary?.bank?.code}}</p>
        </div>
        <div class="col-3">
          <p class="tui-text_body-m heading m-1">Swift Code</p>
          <p class="tui-text_body-xs value mx-1">{{application?.beneficiary?.bank?.swift}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p class="tui-text_body-m heading m-1">Address</p>
          <p class="tui-text_body-xs value mx-1">{{application?.beneficiary?.bank?.address}}</p>
        </div>
      </div>
      <hr>
      <div class="d-flex justify-content-between">
        <div class="col-1">
          <p class="tui-text_h6" style="letter-spacing: 1.5px;">Other Details</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p class="tui-text_body-m heading m-1">Amount</p>
          <p class="tui-text_body-xs value mx-1"><tui-money [currency]="'OMR'"
              [value]="application?.amount"></tui-money></p>
        </div>
        <div class="col-3">
          <p class="tui-text_body-m heading m-1">Amount In Figure</p>
          <p class="tui-text_body-xs value mx-1">{{application?.figure}}</p>
        </div>
        <div class="col-3">
          <p class="tui-text_body-m heading m-1">Currency</p>
          <p class="tui-text_body-xs value mx-1">{{application?.currency}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p class="tui-text_body-m heading m-1">Purpose</p>
          <p class="tui-text_body-xs value mx-1">{{application?.Purpose}}</p>
        </div>
        <div class="col-6">
          <p class="tui-text_body-m heading m-1">Details</p>
          <p class="tui-text_body-xs value mx-1">{{application?.detail}}</p>
        </div>
      </div>
    </div>
    <div class="details p-4 mb-5" style="background-color: #fff; border-radius: 20px;" *ngIf="application">
      <br>
      <div class="d-flex justify-content-between">
        <div class="col-2">
          <p class="tui-text_h6" style="letter-spacing: 1.5px;">Branch Use Only</p>
        </div>
      </div>
      <br>
      <form [formGroup]="formController">
        <div class="row">
          <div class="col-4">
            <tui-input formControlName="ReferenceNo" [readOnly]="true">
              Reference Number
            </tui-input>
            <tui-error formControlName="ReferenceNo" [error]="[] | tuiFieldError | async"></tui-error>
          </div>
          <div class="col-4">
            <tui-input-number formControlName="exchangeRate">
              Exchange Rate
            </tui-input-number>
            <tui-error formControlName="exchangeRate" [error]="[] | tuiFieldError | async"></tui-error>
          </div>
          <div class="col-4">
            <tui-input-number formControlName="charges">
              Charges
            </tui-input-number>
            <tui-error formControlName="charges" [error]="[] | tuiFieldError | async"></tui-error>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-4">
            <tui-input-date tuiUnfinishedValidator="Finish filling the field" formControlName="Date">
              Choose a date
            </tui-input-date>
          </div>
          <div class="col-4">
            <tui-input formControlName="ChecksPerformedBy" [readOnly]="true">
              Finalized By
            </tui-input>
            <tui-error formControlName="ChecksPerformedBy" [error]="[] | tuiFieldError | async"></tui-error>
          </div>
          <div class="col-4">
            <tui-input formControlName="StaffID" [readOnly]="true">
              Staff ID
            </tui-input>
            <tui-error formControlName="StaffID" [error]="[] | tuiFieldError | async"></tui-error>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-4">
            <tui-input-files *ngIf="!signature.value" accept="image/*" [formControl]="signature" [link]="'choose signature'"
              (reject)="onReject($event)"></tui-input-files>

            <tui-files class="tui-space_top-1">
              <tui-file *ngIf="loadedFiles$ | async as file" [file]="file" [showDelete]="signature.enabled"
                (removed)="removeFile()"></tui-file>

              <tui-file *ngIf="rejectedFiles$ | async as file" state="error" [file]="file"
                [showDelete]="signature.enabled" (removed)="clearRejected()"></tui-file>

              <tui-file *ngIf="loadingFiles$ | async as file" state="loading" [file]="file"
                [showDelete]="signature.enabled"></tui-file>
            </tui-files>
          </div>
        </div>
        <div class="row mt-5" *ngIf="user.role === ROLE.Branch">
          <div class="col-2">
            <button tuiButton appearance="secondary" (click)="onSubmit()">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
