<div class="home py-5" style="background-color: var(--tui-base-02);">
  <div class="container">
    <div class="row pb-5">
      <div class="col">
        <h1 class="tui-text_h1 mb-3">
          Welcome to M Bank
        </h1>
        <p class="tui-text_h6" style="color: var(--tui-text-03)">
          What would you like to perform
        </p>
      </div>
    </div>
    <div class="p-5 mb-5" style="background-color: #fff; border-radius: 20px;">
      <div class="row pb-2">
        <span class="tui-text_h6" style="color: var(--tui-success-fill)">
          Forms
        </span>
        <span class="tui-text_body-s pb-4" style="color: var(--tui-text-03);">
          Browse and view..
        </span>
      </div>
      <div class="row ">
        <div class="col">
          <tui-island>
            <h3 class="tui-island__title">Account Opening</h3>
            <p class="tui-island__paragraph">
              Digital account in one of the best banks in the world
            </p>
            <button tuiButton type="button" appearance="flat" size="m" class="tui-island__footer-button">
              View
            </button>
          </tui-island>
        </div>
        <div class="col">
          <tui-island>
            <h3 class="tui-island__title">Remittance</h3>
            <p class="tui-island__paragraph">
              Send your Amount with ease to your love onces.
            </p>
              <button tuiButton type="button" appearance="flat" size="m" class="tui-island__footer-button" routerLink="/form-remittance">
                View
              </button>
          </tui-island>
        </div>
        <div class="col">
          <tui-island>
            <h3 class="tui-island__title">Personal Loan</h3>
            <p class="tui-island__paragraph">
              Instant Loan with best facilities and lowest interest rates
            </p>
            <button tuiButton type="button" appearance="flat" size="m" class="tui-island__footer-button">
              View
            </button>
          </tui-island>
        </div>
        <div class="col">
          <tui-island>
            <h3 class="tui-island__title">Credit Card</h3>
            <p class="tui-island__paragraph">
              Get you one from wide range of credit cards
            </p>
            <button tuiButton type="button" appearance="flat" size="m" class="tui-island__footer-button">
              View
            </button>
          </tui-island>
        </div>
      </div>
    </div>
    <div class="p-5" style="background-color: #fff; border-radius: 20px;">
      <div class="row">
        <span class="tui-text_h6 pb-0" style="color: var(--tui-success-fill)">
          Services
        </span>
        <span class="tui-text_body-s pb-4" style="color: var(--tui-text-03);">
          Services we offer, Browse and view
        </span>
      </div>
      <div class="row ">
        <div class="col-3">
          <tui-island>
            <h3 class="tui-island__title">Advancements of loans</h3>
            <p class="tui-island__paragraph">
              Digital account in one of the best banks in the world
            </p>
            <button tuiButton type="button" appearance="flat" size="m" class="tui-island__footer-button">
              View
            </button>
          </tui-island>
        </div>
        <div class="col-3">
          <tui-island>
            <h3 class="tui-island__title">Guarantee by banks</h3>
            <p class="tui-island__paragraph">
              Send your Amount with ease to your love onces.
            </p>
            <button tuiButton type="button" appearance="flat" size="m" class="tui-island__footer-button">
              View
            </button>
          </tui-island>
        </div>
        <div class="col-3">
          <tui-island>
            <h3 class="tui-island__title">Consultancy</h3>
            <p class="tui-island__paragraph">
              Instant Loan with best facilities and lowest interest rates
            </p>
            <button tuiButton type="button" appearance="flat" size="m" class="tui-island__footer-button">
              View
            </button>
          </tui-island>
        </div>
      </div>
    </div>
  </div>
</div>
