<div class="home py-5" style="background-color: var(--tui-base-02);">
  <div class="container">
    <div class="row pb-5">
      <div class="col">
        <img src="assets/img/logo.png" alt="Bank Nizwa Logo">
        <h1 class="tui-text_h1 mb-3 mt-4">
          Welcome to <br>  bank Nizwa E-Forms
        </h1>
        <p class="tui-text_h6 px-1" style="color: var(--tui-text-03)">
          What would you like to perform
        </p>
      </div>
    </div>
    <div class="p-5 mb-5" style="background-color: #fff; border-radius: 20px;" *ngIf="showSearch">
      <form [formGroup]="searchController" (ngSubmit)="onSearch()">
        <div class="row pb-2">
          <span class="tui-text_h6" style="color: #FFCB05">
            Existing Customer
          </span>
          <span class="tui-text_body-s pb-4" style="color: var(--tui-text-03);">
            If you have previously used Bank Nizwa's E-Form Service
          </span>
        </div>
        <div class="row">
          <div class="col-6">
            <tui-input tuiHintContent="Write a number" formControlName="KYC" class="tui-group__inherit-item">
              Enter Your KYC ID
              <input tuiTextfield placeholder="ID" />
            </tui-input>
            <tui-error formControlName="KYC" [error]="[] | tuiFieldError | async"></tui-error>
          </div>
          <div class="col-6">
            <button tuiButton type="submit" [disabled]="searchController.invalid" appearance="primary" size="l">
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="p-5 mb-5" style="background-color: #fff; border-radius: 20px;">
      <div class="row pb-2">
        <span class="tui-text_h6" style="color: #FFCB05">
          Forms
        </span>
        <span class="tui-text_body-s pb-4" style="color: var(--tui-text-03);">
          Browse and view..
        </span>
      </div>
      <div class="row ">
        <div class="col">
          <tui-island>
            <h3 class="tui-island__title">Account Opening</h3>
            <p class="tui-island__paragraph">
              Digital account in one of the best banks in the world
            </p>
            <button tuiButton type="button" appearance="flat" size="m" class="tui-island__footer-button">
              View
            </button>
          </tui-island>
        </div>
        <div class="col">
          <tui-island>
            <h3 class="tui-island__title">Remittance</h3>
            <p class="tui-island__paragraph">
              Send your Amount with ease to your love onces.
            </p>
            <button tuiButton type="button" appearance="flat" size="m" class="tui-island__footer-button"
              routerLink="/form-remittance">
              View
            </button>
          </tui-island>
        </div>
        <div class="col">
          <tui-island>
            <h3 class="tui-island__title">Personal Loan</h3>
            <p class="tui-island__paragraph">
              Instant Loan with best facilities and lowest interest rates
            </p>
            <button tuiButton type="button" appearance="flat" size="m" class="tui-island__footer-button">
              View
            </button>
          </tui-island>
        </div>
        <div class="col">
          <tui-island>
            <h3 class="tui-island__title">Credit Card</h3>
            <p class="tui-island__paragraph">
              Get you one from wide range of credit cards
            </p>
            <button tuiButton type="button" appearance="flat" size="m" class="tui-island__footer-button">
              View
            </button>
          </tui-island>
        </div>
      </div>
    </div>
    <div class="p-5" style="background-color: #fff; border-radius: 20px;">
      <div class="row">
        <span class="tui-text_h6 pb-0" style="color: #FFCB05">
          Services
        </span>
        <span class="tui-text_body-s pb-4" style="color: var(--tui-text-03);">
          Services we offer, Browse and view
        </span>
      </div>
      <div class="row ">
        <div class="col-3">
          <tui-island>
            <h3 class="tui-island__title">Advancements of loans</h3>
            <p class="tui-island__paragraph">
              Digital account in one of the best banks in the world
            </p>
            <button tuiButton type="button" appearance="flat" size="m" class="tui-island__footer-button">
              View
            </button>
          </tui-island>
        </div>
        <div class="col-3">
          <tui-island>
            <h3 class="tui-island__title">Guarantee by banks</h3>
            <p class="tui-island__paragraph">
              Send your Amount with ease to your love onces.
            </p>
            <button tuiButton type="button" appearance="flat" size="m" class="tui-island__footer-button">
              View
            </button>
          </tui-island>
        </div>
        <div class="col-3">
          <tui-island>
            <h3 class="tui-island__title">Consultancy</h3>
            <p class="tui-island__paragraph">
              Instant Loan with best facilities and lowest interest rates
            </p>
            <button tuiButton type="button" appearance="flat" size="m" class="tui-island__footer-button">
              View
            </button>
          </tui-island>
        </div>
      </div>
    </div>
  </div>
</div>
